<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="/static/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/my/index.js"></script>
</head>
<body>
	<div class="container">		
		<h3>请输入要执行的命令:</h3>
		<p><input type="text" name="cmd" id="cmd"><input type="button" value="执行" id="exeBtn"/></p>
		<textarea rows="10" cols="10" id="result" style="width:500px;height:500px;"></textarea>
	</div>
</body>
</html>